body
{
    margin: 0;
}
.container
{   
    .canvasContainer
    {
        display: flex;
        justify-content: center;
    }
    width: 100vw;
    height: 100vh;
    background-color: black;
    overflow: hidden;
    .warningBar
    {
        width: 110vw;
        img
        {
            margin: 0 0 0 -15px;
        }
    }
    .inputContainer
    {
        min-height: 16vh;
        max-height: 20vh;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        span
        {
            color: white;
            font-family: 'Raleway', sans-serif;
            text-transform: uppercase;
            font-size: 10vh;
            letter-spacing: 1vw;
        }
    }
}